<div class="row">
    <div class="col-md-12 text-center">
       <h1 id="head1">Crear Usuario</h1>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="form-group">
              <div class="row">
                <div class="col-md-6 mt-3">
                  <div>
                    <label for="exampleInputEmail1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre" required>
                  </div>   
                </div>
                <div class="col-md-6 mt-3">
                  <div>
                    <label for="exampleInputPassword1" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Apellido" required>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div>
                    <label for="exampleInputPassword1" class="form-label">Correo Electronico</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Correo Electronico" required>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div>
                    <label for="exampleInputPassword1" class="form-label">Status</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Status" required>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <div>
                    <label for="exampleInputPassword1" class="form-label">Observaciones:</label>
                     <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Apellido">-->
                    <textarea class="form-control" id="example_text_area" placeholder="Observaciones"></textarea>
                  </div>
                </div>
              </div> 
              <div class="col-md-12 text-right">
                <div  style="float: right;">
                  <button type="submit" class="btn btn-primary m-5" name="Enviar">Enviar</button>
                  <button type="button" class="btn btn-danger" [routerLink]="['/editar-usuario']">Editar</button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>
